.grommet, .brand-font {
  font-family: 'Raleway', sans-serif;
}

a {
  transition: all 0.3s ease-out;
}

a:hover,
a:focus {
  transition: all 0.3s ease-in;
}

.grommetux-anchor,
.grommetux-anchor:hover {
  text-decoration: none;
}

.logo__text {
  color: #000000;
}

.logo__image {
  height: 100px;
}

.menu__links {
  color: #000000 !important;
  display: inline-block;
  font-weight: bold;
  margin: 15px 25px;
  outline: none;
  padding: 10px 20px;
  position: relative;

  &:hover,
  &:focus {
    color: #ffffff !important;
  }
}

.menu__links::before,
.menu__links::after {
  border: 3px solid #354856;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.3s, opacity 0.3s;
  width: 100%;
}

.menu__links::after {
  border-color: #ffffff;
  opacity: 0;
  transform: translateY(-7px) translateX(6px)
}

.menu__links:hover::before,
.menu__links:focus::before {
  opacity: 0;
  transform: translateY(5px) translateX(-5px)
}

.menu__links:hover::after,
.menu__links:focus::after {
  opacity: 1;
  transform: translateY(0px) translateX(0px)
}

.grommetux-menu--inline.grommetux-menu--row {
  line-height: initial;
}

.link {
  color: darken(#a2d5d8, 25%);
  text-decoration: underline;
}
