.logo {
 height: 100px; 
}

.grommetux-anchor,
.grommetux-anchor:hover {
  text-decoration: none;
}

a {
  transition: all 0.3s ease-out;
}

a:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in;
}
